html{
    /* margin: 0; */
    /* padding: 0; */
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    min-width: 100%;
    min-height: 100%;
}

.done{
    color: green;
    text-decoration: line-through;
}

#container {
    background: #f7f7f7;
    width: 360px;
    max-height: 500px;
    margin: 200px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    background: #2980b9;
    color: white;  
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin: 0;
}

input{
    background: #f7f7f7;
    width: 100%;
    border: 3px solid rgba(0 ,0, 0, 0);
    padding: 13px 13px 13px 20px;
    box-sizing: border-box; 
    color: #2980b9;
    font-size: 20px;

}

::-webkit-input-placeholder{
    text-align: center;
}

input:focus{
    border: 2px solid rgb(89, 89, 255);
    outline: none;
    background: #fff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #E47373;
    text-align: center;
}

li:nth-child(even){
    background: #f7f7f7;
}

#tasks{
    max-height: 300px;
    overflow: auto;
}

.delete{
    background: #e74c3c;
    color: #fff;
    height: 40px;
    text-align: center;
    width: 0px;
    float: left;
    display: inline;
    opacity: 0;
    transition: 0.3s linear;
}

li:hover span{
    width: 40px;
    opacity: 1;
}

#plus {
    float: right;
    margin-right: 0;
}